@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
}
h1, h2, h3, h4, h5, h6{
    color: #272727;
}

/*-- common-css-start --*/
.section-container{
    max-width: 1440px;
    margin: 0 auto;
}
.common-btn{
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
}
.img-fluid{
    width: 100%;
}
.common-hadding-title{
    text-align: center;
    margin-bottom: 48px;
}
.common-hadding-title h3{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 24px;
}
/*-- common-css-end --*/

/*-- banner-section-start --*/
.banner-section{
    background-color: rgba(229, 84, 115, 0.10);
}
.banner-section .banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}
.banner-section .banner .banner-content h1{
    font-size: 80px;
    font-weight: 900;
}
.banner-section .banner .banner-content p{
    margin: 32px 0;
}
/*-- banner-section-end --*/

/*-- featured-section-start --*/
.featured-section{
    margin-top: 178px;
}
.featured-section .featurs{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.featured-section .featurs .single-featur-1{
    text-align: center;
}
.featured-section .featurs .single-featur{
    width: 464px;
    height: 538px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 32px;
    padding: 70px 50px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: end;
}
.featured-section .featurs .single-featur-1 h4{
    text-decoration: underline;
    font-weight: 700;
    font-size: 24px;
}
.featured-section .featurs .single-featur-2{
    background-color: rgba(5, 151, 160, 0.15);
    align-items: center;
}
.featured-section .featurs .single-featur-3{
    background-color: rgba(71, 125, 17, 0.15);
}
/*-- featured-section-end --*/

/*-- support-section-start --*/
.support{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.support .supports{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 85px 175px;
    margin-top: 128px;
    margin-bottom: 128px;
}
.support .supports .single-support{
    text-align: center;
}
.support .supports .single-support p{
    font-size: 24px;
    margin-top: 24px;
    font-weight: 700;
    color: rgba(39, 39, 39, 0.80);
}
/*-- support-section-end --*/

/*-- discuant-section-start --*/
.discuant-section{
    padding: 100px 0;
    background-color: rgba(229, 84, 115, 0.05);
}
.discuant-section .discuant{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.discuant-section .discuant .discuant-content{
    text-align: center;
}
.discuant-section .discuant .discuant-content h2 span{
    color: #E55473;
}
.discuant-section .discuant .discuant-content h2{
    font-size:40px;
    font-weight: 900;
}
.discuant-section .discuant .discuant-content p{
    margin: 24px 0 32px;
}
/*-- discuant-section-end --*/